language: node_js
node_js:
- "stable"
cache:
  directories
  - node_modules
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - yarn test:coverage
after_script:
   - COVERALLS_REPO_TOKEN=$coveralls_repo_token yarn coveralls
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT